<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<profile project="shunt" application="mingw-get">

  <repository uri="http://prdownloads.sourceforge.net/mingw/%F.xml.lzma?download">
  </repository>

  <system-map id="default">
    <sysroot subsystem="mingw32" path="%R" />
    <sysroot subsystem="MSYS" path="%R" />
  </system-map>
</profile>
